<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Book</h2>
      <% if (!book) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Contact not found. <br />
        <a href="/book" class="alert-link fw-normal">&laquo; Back</a>
      </div>
      <% } else {%>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= book.author %>
          </h6>
          <p class="card-text"><%= book.review %></p>
          <a href="/book/edit/<%= book.author %>" class="btn btn-primary badge"
            >Edit</a
          >
          <!-- <a
            href="/book/delete/<%= book.title %>"
            class="btn btn-danger badge"
            onclick="return confirm('are you sure?')"
            >Delete</a
          > -->
          <form action="/book?_method=DELETE" method="POST" class="d-inline">
            <input type="hidden" name="title" value="<%= book.title %>" />
            <button
              type="submit"
              class="btn btn-danger badge"
              onclick="return confirm('are you sure?')"
            >
              Delete
            </button>
          </form>
          <a href="/book" class="card-link d-block mt-3">&laquo; Back</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
